@import url('https://fonts.googleapis.com/css?family=Palanquin');
body {
font-family: 'Palanquin', sans-serif;
}
.heading {
    background-color: #D32023;
    display: flex;
    align-items: center;
}

h1 {
    color: #ffffff;
    background-color: #D32023;
    padding:10px;
}

.logo {
    vertical-align: middle;
    margin: 10px;
}

.main {
    max-width: 700px;
    margin:auto;
}

.elements .row {
    display:table-row;
}

.cell
{
    display:table-cell;
}

.elements
{
    display:table;
}

.c1 {
    padding-right: 10px;
}

.c2 {
    padding-right: 20px;
}

.elements select {
    width:100%;
}

.buttons {
    margin:auto;
    margin-top:40px;
    display:table;
}

.buttons .cell {
    border: 10px solid transparent;
}